*{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Arial', sans-serif;
}


.header{
    position: fixed;
    width: 99%;
    height : 80px;
    left: 0;
    top: 0;
    padding: 10px ;
    background-color:  white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo img{
    align-items: flex-start;
    height: 100px;
    width: 100px;
}
nav{
   
    margin : 0;
    padding : 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0; 
}
li{
    float : left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
li a:hover {
    transition: ease 0.5s;
    border-radius: 20px;
    background-color: brown;
    color: white;
}

.firstpage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.home img{
    margin-top: 100px;
    width: 650px;
    height: 700px;
    align-self: start;

}

.aboutus-menus img{
    width: 600px;
    margin-top: 100px;
    height: 300px;
    align-items: right;
    display: block;
    
}

.cozystore img {
    height: 450px;
    width: 450px;
    margin-top: 50px;
    margin-right: 100px ;
}

.paragraf h3 {
    color: black;
    text-align: center;
    margin-top: 90px;
}

.paragraf {
    margin-top: 20px;
    width: 650px;
    height: 450px;
    text-align: center;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
    color: brown;   
}

.contactus_fp img{
    float: right;
    margin-top: 50px;
    width: 700px;
    height: 600px;

}
.paragraf1 h1{
    color: black;
    text-align: center;
    margin-top: 50px;
}
.paragraf1 h2{
    color: black;
}
.paragraf1 h5{
    color: black;
}

.paragraf1{
    margin-top: 150px;
    width: 600px;
    height: 400px;
    text-align: center;
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: slategray;
}
/*Footer */
.container_f {
    width: 85%;
    margin: 0 auto;
  }
  
.cafe-footer {
    margin-top: 10px;
    background-color: #dfbf9f ;
    color: #fff;
    padding: 20px 0;
}
  
.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.footer-section {
    flex: 1;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
.footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.footer-section_icons h3{
    margin-left: 50px;
}
  
.footer-section_icons img{
    margin-top: 50px;
    padding: 10px;
    width: 50px;
    height: 50px;
}
  
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #fff;
}
  
.footer-bottom p {
    margin: 0;
    font-size: 0.8em;
}

h1{
    color: white;
    
}
.end-talk{
    background-color: ;
    
}
.end-talk h1{
    margin-top: 70px;
    text-align: center;
    color: black;
    font-size: 40px;
}
.end-talk p{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: darkgray;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Order Online */

#main1 {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(164, 96, 37);
}
.orderOnline_p{
    padding: 10px;
}

#main1 .form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    background-color: burlywood;
    border: 2px solid #fab958;
    border-radius: 20px;
    margin-left: 100px;
    padding: 20px;
    width: 300px;
    margin-top: 50px;
    padding: 40px;
}

#main1 .content {
    margin-bottom: 10px;
    display: flex;
    align-items: center; 
}

#main1 .login_form {
    min-width: 80px; 
    font-weight: bold;
}

#main1 .login_form_input {
    color: black;
    flex: 1;
    word-wrap: break-word;
    border: 2px solid ;
    border-radius: 10px;
    padding: 5px;
}

#main1 .button-container {
    text-align: center;
    margin-top: 20px;
}

#main1 button {
    padding: 12px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(164, 96, 37);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 10px;
}

#main1 button:hover {
    background-color: #f8a529;
    transition: 0.8s ease;
    color: white;
}

#main1 a{
    color: sienna;
    padding: 10px;
    font-style: italic;
    text-decoration: none;
    border: 1px solid  rgb(164, 96, 37);
    border-width: thin;
    border-radius: 10px; 
    font-size: 12px;
    margin-top: 10px;
    background-color: whitesmoke;
    text-align: center;
    
    
}
#main1 a:hover{
    background-color: #f8a529;
    transition: 0.8s ease;
    color: white;
}
#main1 .foto {
    display: flex;
    align-items: center;
}

#main1 .foto img{
    width: 100%;
    margin-right: 20px;
    width: 385px;
    height: 435px;
}

#main1 .foto p {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    color: rgba(10, 10, 70, 0.938);
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    margin-top: 10px;
}




/* Register Form ---------------*/

#main7 {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: rgb(164, 96, 37);

}
#main7 .register_form{
    
    margin-top: 150px;
    height: 500px;
    display: grid;
    align-items: center;
    justify-content: space-around;
    width: 450px;
    border: 2px solid #fab958;
    border-radius: 30px;
    margin-left: 100px;
    background-color: burlywood;
    margin-bottom: 20px;
}
#main7 .register_input{
    color: black;
    width: 300px;
    height: 30px;
    border-radius: 12px;
}

#main7 .register_p{
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#main7 .register_content{
    margin-top: 20px;
    color: black    ;
   
}
#main7 .register_form button{
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    color: rgb(164, 96, 37);
    border: 1px solid  rgb(164, 96, 37);
    border-width: thin;
    border-radius: 10px;
    font-size: 20px;
    padding: 2px;
    
}
#main7 .register_form button:hover{
    background-color: #f8a529;
    transition: 0.5s ease;
    color: white;
}
#main7 .foto {
    display: flex;
    align-items: center;
}

#main7 .foto img{
    width: 100%;
    margin-right: 20px;
    width: 385px;
    height: 300px
    margin-top : 200px;
}

#main7 .foto p {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    color: rgba(10, 10, 70, 0.938);
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    margin-top: 10px;
}



/*Cozy Store */

#main2 {
    
    display: flex;
    align-items: center;
    height: 100vh;
    margin-top: 100px;

}
.cozyStore_head{
    margin-top: 100px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.cozyStore_head h1{
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    color: black;
}
.cozyStore_head h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(180, 127, 103);
    font-style: italic;
    text-align: center;
    font-size: 30px
}
.store_start img{
    float: left;
    width: 600px;
    height: 500px;
    margin-top: 50px;
    
}

.store_start h3{
    margin-top: 90px;
    margin-left: 20px;
    padding: 12px;
    width: 700px;
    height: 500px;
    text-align: center;
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 29px;
    color: rgb(180, 127, 103);
}


.products .box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}
    
.products .box-container .box{
    text-align: center;
    border: #f8a529;
    padding: 2rem;
}
    
.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:black;
    margin:.3rem;
}
    
.products .box-container .box .icons a:hover{
    color: #fab958;
}
    
.products .box-container .box .image{
    padding: 2.5rem 0;
}
    
.products .box-container .box .image img{
    height: 300px;
    width: 300px;
}
    
.products .box-container .box .content h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    font-size: 2.5rem;
}
    
.products .box-container .box .content .stars{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    padding: 1.5rem;
    color: sienna;
}
    
    
.products .box-container .box .content .price{
    color : black;
    font-size: 2.5rem;

}
    
.products .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

#addToCartButton{
    background-color: burlywood;
    color: saddlebrown;
    width: 100px;
    height: 50px;
    border: 3px solid #fab958;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.6s ease;
}
    
#addToCartButton:hover{
    color: burlywood;
    background-color: sienna;
}

/*Contact Us */

#main4 .contactUs h1{
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    text-align: center;
    margin-top: 50px;
    color: black;
    margin-bottom: 20px;   
    }

#main4 .contactUs p{
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    }
   
#main4 .contactUs p01{
    font-size: ;
}
    
#main4 .contactus {
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
       
}
    
#main4 .contact_form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
    
#main4 .contactUs_label {
    color: gray;
    width: 650px;
    margin-top: 10px;
    margin-bottom: 8px;
}
    
#main4 .contactUs_textarea, .contactUs_input {  
    width: 650px;       
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 8px;
    border-color: wheat;
}
    
#main4 .button_form {
    border-radius: 40px;
    color: rgb(164, 96, 37);
    border: 1px solid  rgb(164, 96, 37);
    border: thin;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
    
#main4 .button_form:hover {
    background-color: #f8a529;
    transition: 0.5s ease;
    color: white;
}

/*Menus*/

#p_menu{
    margin-top: 120px;
}
#p_menu{
    color: #744d25;
    font-size: 25px;
    text-align: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    
}

#h1_menu{
    margin-top: 50px;
    color: black;
    text-align: center;
}
#main5{
    background-color: whitesmoke;
    padding: 0%;
    margin: 0%;
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 968px
    height: 100px;
    box-sizing:border-box;

}
#h1_menu {
    font-style: italic;
    text-align: center;
    color: black;
}
#main5 .menu {
    margin-top: 20px;
    background-color: gainsboro;
    border: 1px solid black;
    border-radius: 40px;
    width: 1000px;
    text-align: center;
}

#main5 .menu_name {
    padding: 1em;
}

#main5 .start_h3 {
    color: burlywood;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    margin-top: 30px;
}

#main5 .items_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#main5 .menu_item {
    width: 40%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main5 .item-info {
    padding: 1em;
    text-align: left;
}

#main5 .item_name {
    color: black;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
    text-align: center;
}

#main5 .item_price {
    font-size: 22px;
    color: black;
    float: right;
}

#main5 .item_p {
    margin-top: 10px;
    color: #777;
    font-size: 15px;
}

#main5 .cocktails_menu{
    margin-top: 20px;
    background-color: gainsboro;
    border: 1px solid black;
    border-radius: 40px;
    width: 700px;
    align-content: flex-end;

}
.start_h3{
    text-align: center;
}

#main5 .slider-wrapper .image-list {
    display: grid;
    gap: 14px;
    font-size: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns:repeat(7,1fr);
}

#main5 .slider-wrapper .image-list::-webkit-scrollbar{
    display: none;
}

#main5 .slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
    border-radius: 60%;
}

#main5 .container{
    max-width: 1200px;
    width: 100%;
}

#main5 .container .slider-scrollbar{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

#main5 .slider-scrollbar .scrollbar-track{
    height: 2px;
    width: 100%;
    position: relative;
    border-radius: 4px;
}

#main5 .slider-scrollbar:hover .scrollbar-track{
    height: 4px;
}

#main5 .slider-scrollbar .scrollbar-thumb{
    position: absolute;
    height: 100%;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor:grab;
}

#main5 .slider-scrollbar .scrollbar-track:active{
    cursor: grabbing;
    height: 8px;
    top: -2px;   
}

#main5 .slider-scrollbar .scrollbar-thumb::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}


/* About Us --------------------------------*/
#main6 .about_us{
    width: 100%;
    margin-top: 100px;
    display: grid;
    align-items: center;
    justify-content: space-around;

}
#main6 h2{
    text-align: center;
    font-size: 50px;
    color: gray;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#main6 h4{
    text-align: center;
    color: darkgray;
    font-size: 30px;

}
#main6 .p_about_us1{
    font-size: 20px;
    color: #744d25;
    text-align: center;
    width: 600px;
    
}
#main6 .about_us_imgs{
    display: flex;
    justify-content: space-evenly;
}
#main6 .about_us_imgs img{
    width: 600px;
    height: 500px;
}

#main6 .about_us_part2{
    width: 100%;
    margin-top: 100px;
    display: grid;
    align-items: center;
    justify-content: space-around;
}
#main6 h2{
    text-align: center;
    font-size: 50px;
    color: gray;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#main6 h4{
    text-align: center;
    color: darkgray;
    font-size: 30px;
}
#main6 .p_about_us2{
    text-align: center;
    padding: 15px;
    margin: 20px;
    text-align: center;
    font-size: 20px;
    margin-left: 110px;
    margin-right: 110px;
    color: black;
    width: 600px;
    border-radius: 40px;
    width: 400px;
    align-content: flex-end;
}
 




@media all (max-width: 1536px) {
 .header , #main5 , #main2 ,#main3 , #main4 , #main6 ,#main1 ,#main7{
    font-size: 21px;
 }
    .firstpage , .paragraf , .contactus_fp , .cafe-footer,
    .menu, .menu_name, .items_container, .menu_item, .cocktails_menu ,
    .store_start, .products, .heading, .box, .content, .stars, .price, #addToCartButton,
    .about_us , .p_about_us1, .about_us_imgs,.about_us_part2 ,.p_about_us2,
    .contactUs ,#p01 , .contact_form , .contact_cotent , .register_content ,.button-container,
    .foto ,.register_form , .register_p , .register_content , 
    .foto, .form , .content , .button-container {

        font-size: 21px;
    }
    
    .footer-section, .footer-section_icons{
        font-size: 21px;
    }

}

@media all (max-width: 1280px) {
    .header , #main5 , #main2 ,#main3 , #main4 , #main6 ,#main1 ,#main7{
        font-size: 20px;
     }
        .firstpage , .paragraf , .contactus_fp , .cafe-footer,
        .menu, .menu_name, .items_container, .menu_item, .cocktails_menu ,
        .store_start, .products, .heading, .box, .content, .stars, .price, #addToCartButton,
        .about_us , .p_about_us1, .about_us_imgs,.about_us_part2 ,.p_about_us2,
        .contactUs ,#p01 , .contact_form , .contact_cotent , .register_content ,.button-container,
        .foto ,.register_form , .register_p , .register_content , 
        .foto, .form , .content , .button-container {
    
            font-size: 20px;
        }
        
        .footer-section, .footer-section_icons{
            font-size: 20px;
        }
    
    }
@media all (max-width: 1024px) {
    .header , #main5 , #main2 ,#main3 , #main4 , #main6 ,#main1 ,#main7{
        font-size: 19px;
     }
        .firstpage , .paragraf , .contactus_fp , .cafe-footer,
        .menu, .menu_name, .items_container, .menu_item, .cocktails_menu ,
        .store_start, .products, .heading, .box, .content, .stars, .price, #addToCartButton,
        .about_us , .p_about_us1, .about_us_imgs,.about_us_part2 ,.p_about_us2,
        .contactUs ,#p01 , .contact_form , .contact_cotent , .register_content ,.button-container,
        .foto ,.register_form , .register_p , .register_content , 
        .foto, .form , .content , .button-container {
    
            font-size: 19px;
        }
        
        .footer-section, .footer-section_icons{
            font-size: 19px;
        }
    
    }



@media all (max-width: 768px) {
    .header , #main5 , #main2 ,#main3 , #main4 , #main6 ,#main1 ,#main7{
        font-size: 18px;
     }
        .firstpage , .paragraf , .contactus_fp , .cafe-footer,
        .menu, .menu_name, .items_container, .menu_item, .cocktails_menu ,
        .store_start, .products, .heading, .box, .content, .stars, .price, #addToCartButton,
        .about_us , .p_about_us1, .about_us_imgs,.about_us_part2 ,.p_about_us2,
        .contactUs ,#p01 , .contact_form , .contact_cotent , .register_content ,.button-container,
        .foto ,.register_form , .register_p , .register_content , 
        .foto, .form , .content , .button-container {
    
            font-size: 18px;
        }
        
        .footer-section, .footer-section_icons{
            font-size: 18px;
        }
    
    }
  


@media all (max-width: 640px) {
    .header , #main5 , #main2 ,#main3 , #main4 , #main6 ,#main1 ,#main7{
        font-size: 14px;
     }
        .firstpage , .paragraf , .contactus_fp , .cafe-footer,
        .menu, .menu_name, .items_container, .menu_item, .cocktails_menu ,
        .store_start, .products, .heading, .box, .content, .stars, .price, #addToCartButton,
        .about_us , .p_about_us1, .about_us_imgs,.about_us_part2 ,.p_about_us2,
        .contactUs ,#p01 , .contact_form , .contact_cotent , .register_content ,.button-container,
        .foto ,.register_form , .register_p , .register_content , 
        .foto, .form , .content , .button-container {
    
            font-size: 14px;
        }
        
        .footer-section, .footer-section_icons{
            font-size: 14px;
        }
    
    }
    

@media all (max-width: 475px) {
    .header , #main5 , #main2 ,#main3 , #main4 , #main6 ,#main1 ,#main7{
        font-size: 12px;
     }
        .firstpage , .paragraf , .contactus_fp , .cafe-footer,
        .menu, .menu_name, .items_container, .menu_item, .cocktails_menu ,
        .store_start, .products, .heading, .box, .content, .stars, .price, #addToCartButton,
        .about_us , .p_about_us1, .about_us_imgs,.about_us_part2 ,.p_about_us2,
        .contactUs ,#p01 , .contact_form , .contact_cotent , .register_content ,.button-container,
        .foto ,.register_form , .register_p , .register_content , 
        .foto, .form , .content , .button-container {
    
            font-size: 12px;
        }
        
        .footer-section, .footer-section_icons{
            font-size: 12px;
        }
    
    }

@media all (max-width: 415px){
    .header , #main5 , #main2 ,#main3 , #main4 , #main6 ,#main1 ,#main7{
        font-size: 9px;
     }
        .firstpage , .paragraf , .contactus_fp , .cafe-footer,
        .menu, .menu_name, .items_container, .menu_item, .cocktails_menu ,
        .store_start, .products, .heading, .box, .content, .stars, .price, #addToCartButton,
        .about_us , .p_about_us1, .about_us_imgs,.about_us_part2 ,.p_about_us2,
        .contactUs ,#p01 , .contact_form , .contact_cotent , .register_content ,.button-container,
        .foto ,.register_form , .register_p , .register_content , 
        .foto, .form , .content , .button-container {
    
            font-size: 9px;
        }
        
        .footer-section, .footer-section_icons{
            font-size: 9px;
        }
    
    }
@media all (max-width: 350px){
        .header , #main5 , #main2 ,#main3 , #main4 , #main6 ,#main1 ,#main7{
            font-size: 6px;
         }
            .firstpage , .paragraf , .contactus_fp , .cafe-footer,
            .menu, .menu_name, .items_container, .menu_item, .cocktails_menu ,
            .store_start, .products, .heading, .box, .content, .stars, .price, #addToCartButton,
            .about_us , .p_about_us1, .about_us_imgs,.about_us_part2 ,.p_about_us2,
            .contactUs ,#p01 , .contact_form , .contact_cotent , .register_content ,.button-container,
            .foto ,.register_form , .register_p , .register_content , 
            .foto, .form , .content , .button-container {
        
                font-size: 6px;
            }
            
            .footer-section, .footer-section_icons{
                font-size: 6px;
            }
        
        }

@media all (max-width: 250px){
            .header , #main5 , #main2 ,#main3 , #main4 , #main6 ,#main1 ,#main7{
                font-size: 4px;
             }
                .firstpage , .paragraf , .contactus_fp , .cafe-footer,
                .menu, .menu_name, .items_container, .menu_item, .cocktails_menu ,
                .store_start, .products, .heading, .box, .content, .stars, .price, #addToCartButton,
                .about_us , .p_about_us1, .about_us_imgs,.about_us_part2 ,.p_about_us2,
                .contactUs ,#p01 , .contact_form , .contact_cotent , .register_content ,.button-container,
                .foto ,.register_form , .register_p , .register_content , 
                .foto, .form , .content , .button-container {
            
                    font-size: 4px;
                }
                
                .footer-section, .footer-section_icons{
                    font-size: 4px;
                }
            
            }
        
    
