*{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Arial', sans-serif;
}


.header{
    position: fixed;
    width: 100%;
    height : 80px;
    left: 0;
    top: 0;
    padding: 10px ;
    background-color:  whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo img{
    align-items: flex-start;
    height: 100px;
    width: 100px;
}
nav{
   
    margin : 0;
    padding : 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0; 
}
li{
    
    float : left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
li a:hover {
    border-radius: 8px;
    background-color: brown;
}

.firstpage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.home img{
    margin-top: 100px;
    width: 650px;
    height: 700px;
    align-self: start;

}

.aboutus-menus img{
    width: 600px;
    margin-top: 100px;
    height: 300px;
    align-items: right;
    display: block;
    
}

.cozystore img {
    height: 450px;
    width: 450px;
    margin-top: 50px;
    margin-right: 100px ;
}

.paragraf h3 {
    color: black;
    text-align: center;
    margin-top: 90px;
}

.paragraf {
    margin-top: 20px;
    width: 650px;
    height: 450px;
    text-align: center;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
    color: brown;   
}

.contactus_fp img{
    float: right;
    margin-top: 50px;
    width: 700px;
    height: 600px;

}
.paragraf1 h1{
    color: black;
    text-align: center;
    margin-top: 50px;
}
.paragraf1 h2{
    color: black;
}
.paragraf1 h5{
    color: black;
}

.paragraf1{
    margin-top: 150px;
    width: 600px;
    height: 400px;
    text-align: center;
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: slategray;
}
footer{
    text-align: center;
    margin-top: 40px;
}

.footeri hr{
    border: 1px solid black;
    border-style: groove;
}

h1{
    color: purple;
    
}

footer{
    text-align: center;
    margin-top: 40px;
}

.footeri hr{
    border: 1px solid black;
}

.footeri{
    display: flexbox;
   
}

.footeri img{
    border-radius: 20px;
    height: 40px;
    width: 40px;
}

h1{
    color: white;
    
}
.end-talk{
    border: 1px solid black;
    background-color: brown;
    
}
.end-talk h1{
    margin-top: 70px;
    text-align: center;
    color: black;
    font-size: 40px;
}
.end-talk p{
    margin-top: 50px;
    text-align: center;
    color: darkgray;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Order Online */

#main1 {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(164, 96, 37);
}
.orderOnline_p{
    padding: 10px;
}

#main1 .form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    background-color: #FFE3BB;
    border: 2px solid #fab958;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    margin-top: 50px;
    padding: 40px;
}

#main1 .content {
    margin-bottom: 10px;
    display: flex;
    align-items: center; 
}

#main1 .login_form {
    min-width: 80px; 
    font-weight: bold;
}

#main1 .login_form_input {
    color: black;
    flex: 1;
    word-wrap: break-word;
    border: 2px solid ;
    border-radius: 10px;
    padding: 5px;
}

#main1 .button-container {
    text-align: center;
    margin-top: 20px;
}

#main1 button {
    padding: 12px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(164, 96, 37);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 10px;
}

#main1 button:hover {
    background-color: #f8a529;
    transition: 0.5s ease;
}

#main1 a{
    color: sienna;
    padding: 10px;
    font-style: italic;
    text-decoration: none;
    border: 1px solid  rgb(164, 96, 37);
    border-width: thin;
    border-radius: 10px; 
    font-size: 12px;
    margin-top: 10px;
    background-color: whitesmoke;
    text-align: center;
    
    
}
#main1 a:hover{
    background-color: #f8a529;
    transition: 0.5s ease;
}



/* Register Form ---------------*/

.register_form{
    margin-top: 150px;
    height: 500px;
    display: grid;
    align-items: center;
    justify-content: space-around;
    width: 700px;
    border: 2px solid black;
    border-radius: 30px;
    margin-left: 300px;
    background-color: burlywood;
}
.register_input{
    color: black;
    width: 300px;
    height: 30px;
    border-radius: 12px;
}

.register_p{
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.register_content{
    margin-top: 20px;
    color: brown    ;
   
}
.register_form button{
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 10px;
    height: 50px;
    color: black;
    border-radius: 10px;
    border: 2px solid gray;
    font-size: 20px;
    padding: 10px;
    
}
.register_form button:hover{
    color: gray;
    transition: 1s ease;
}



#main1 .foto {
    display: flex;
    align-items: center;
}

#main1 .foto img{
    max-width: 100%;
    margin-right: 20px;
    width: 385px;
    height: 435px;
}

#main1 .foto p {
    margin: 0;
    display: flex;
    color: rgba(10, 10, 70, 0.938);
    font-size: 30px;
    font-family: 'Arial', sans-serif;
    text-align: left;
    margin-top: 10px;
}

/*Cozy Store */

#main2 {
    
    display: flex;
    align-items: center;
    height: 100vh;
    margin-top: 100px;

}
.cozyStore_head{
    margin-top: 100px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.cozyStore_head h1{
    margin-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-style: italic;
    color: sienna;
    text-align: center;
}
.cozyStore_head h3{
    text-align: center;
    font-size: 30px
}
.store_start img{
    float: left;
    width: 600px;
    height: 500px;
    margin-top: 50px;
    
}

.store_start h3{
    margin-top: 90px;
    margin-left: 20px;
    padding: 12px;
    width: 700px;
    height: 500px;
    text-align: center;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 29px;
    color: brown;   
}


.products .box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}
    
.products .box-container .box{
    text-align: center;
    border: #f8a529;
    padding: 2rem;
}
    
.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:black;
    margin:.3rem;
}
    
.products .box-container .box .icons a:hover{
    color: #fab958;
}
    
.products .box-container .box .image{
    padding: 2.5rem 0;
}
    
.products .box-container .box .image img{
    height: 300px;
    width: 300px;
}
    
.products .box-container .box .content h3{
    color:black;
    font-size: 2.5rem;
}
    
.products .box-container .box .content .stars{
    padding: 1.5rem;
    color: sienna;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
    
    
.products .box-container .box .content .price{
    color : black;
    font-size: 2.5rem;
}
    
.products .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

#addToCartButton{
    background-color: burlywood;
    color: saddlebrown;
    width: 100px;
    height: 50px;
    border: 3px solid #fab958;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.6s ease;
}
    
#addToCartButton:hover{
    color: burlywood;
    background-color: sienna;
}

/*Contact Us */

.contactUs h1{
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    text-align: center;
    margin-top: 50px;
    color: black;
    margin-bottom: 20px;   
    }

    .contactUs p{
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    }
   
.contactUs p01{
    font-size: ;
}
    
.contactus {
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
       
}
    
.contactUs_form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
    
.contactUs_label {
    color: gray;
    width: 650px;
    margin-top: 10px;
    margin-bottom: 8px;
}
    
.contactUs_textarea, .contactUs_input {  
    width: 650px;       
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 8px;
    border-color: wheat;
}
    
.button_form {
    border-radius: 40px;
    background-color: sienna;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
    
.button_form:hover {
    transition: 1s;
    background-color: darkslategray;
}

<<<<<<< HEAD
/* Menus -------------------------------------------------*/
=======
/*Menus*/

>>>>>>> 0c1ea81f25fe393150ab82d0fdddafb4dd32effd
#p_menu{
    margin-top: 100px;
}

#h1_menu{
    margin-top: 50px;
    color: black;
    text-align: center;
}
<<<<<<< HEAD
=======

>>>>>>> 0c1ea81f25fe393150ab82d0fdddafb4dd32effd
#main5{
    background-color: peru;
    padding: 0%;
    margin: 0;
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
<<<<<<< HEAD
    width: 968px
    height: 100%;

}
=======
    width: 968px;
    height: 100%;
}

>>>>>>> 0c1ea81f25fe393150ab82d0fdddafb4dd32effd
#h1_menu {
    font-style: italic;
    text-align: center;
    color: black;
}
<<<<<<< HEAD
=======

>>>>>>> 0c1ea81f25fe393150ab82d0fdddafb4dd32effd
#main5 .coffee_menu {
    margin-top: 20px;
    background-color: burlywood;
    border: 1px solid black;
    border-radius: 40px;
    display: flexbox;
    width: 400px;
    align-content: flex-start;
}
<<<<<<< HEAD
=======

>>>>>>> 0c1ea81f25fe393150ab82d0fdddafb4dd32effd
.coffee_menu h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 25px;
}
<<<<<<< HEAD
=======

>>>>>>> 0c1ea81f25fe393150ab82d0fdddafb4dd32effd
.coffee_menu p{
    margin: 10px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}
<<<<<<< HEAD
=======

>>>>>>> 0c1ea81f25fe393150ab82d0fdddafb4dd32effd
.coffee_menu_hr{
    margin-left: 30px;
    margin-right: 30px;
    width: 320px;
}
<<<<<<< HEAD
=======

>>>>>>> 0c1ea81f25fe393150ab82d0fdddafb4dd32effd
#main5 .drinks_menu{
    margin-top: 20px;
    background-color: burlywood;
    border: 1px solid black;
    border-radius: 40px;
    width: 400px;
    align-content: center;
}
<<<<<<< HEAD
=======

>>>>>>> 0c1ea81f25fe393150ab82d0fdddafb4dd32effd
.drinks_menu h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 25px;
}
<<<<<<< HEAD
=======

>>>>>>> 0c1ea81f25fe393150ab82d0fdddafb4dd32effd
.drinks_menu p{
    margin: 10px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}
<<<<<<< HEAD
=======

>>>>>>> 0c1ea81f25fe393150ab82d0fdddafb4dd32effd
#main5 .hotdrinks_menu{
    margin-top: 20px;
    background-color: burlywood;
    border: 1px solid black;
<<<<<<< HEAD
    
    border-radius: 40px;
    width: 400px;
    align-content: flex-end;
}

#main5 .hotdrinks_menu h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 25px;
}
#main5 .hotdrinks_menu p{
    margin: 10px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}
/* Food Menu */
#main5 .bagels_menu{
    margin-top: 20px;
    background-color: burlywood;
    border: 1px solid black;
    border-radius: 40px;
    width: 400px;
    align-content: flex-end;

}
#main5 .bagels_menu h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 25px;
}
#main5 .bagels_menu p{
    margin: 10px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

#main5 .brunch_menu{
    margin-top: 20px;
    background-color: burlywood;
    border: 1px solid black;
    border-radius: 40px;
    width: 400px;
    align-content: flex-end;

}
#main5 .brunch_menu h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 25px;
}
#main5 .brunch_menu p{
    margin: 10px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

#main5 .sandwhiches_hamburger_menu{
    margin-top: 20px;
    background-color: burlywood;
    border: 1px solid black;
    border-radius: 40px;
    width: 400px;
    align-content: flex-end;

}
#main5 .sandwhiches_hamburger_menu h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 25px;
}
#main5 .sandwhiches_hamburger_menu p{
    margin: 10px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}
#main5 .sandwhiches_hamburger_menu h4{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#main5 .sandwhiches_hamburger_menu .p_sides{
    font-size: 15px;
    text-align: start;
    margin: 10px;
}
#p_menu{
    color: #744d25;
    font-size: 25px;
    text-align: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    
}

#main5 .cocktails_menu{
    margin-top: 20px;
    background-color: burlywood;
    border: 1px solid black;
    border-radius: 40px;
    width: 400px;
    align-content: flex-end;

}
#main5 .cocktails_menu h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 25px;
}
#main5 .cocktails_menu p{
    margin: 10px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

/* SLider of Menu  ----------------- */ 

#slideshow_all {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI light', Tahoma;
    width: 500px;
    margin:0 auto;
}
#slideshow_all img {
    max-width: 700px;
    height: 300px;
}
.button_slideshow{
    border-radius: 100%;
    border-style: inherit;
    width: 40px;
    height: 40px;
    font: 10pt;
}
.button_slideshow:hover{
    background-color: rebeccapurple;
}


/* About Us --------------------------------*/
#main6 .about_us{
    width: 100%;
    margin-top: 100px;
    display: grid;
    align-items: center;
    justify-content: space-around;

}
#main6 h2{
    text-align: center;
    font-size: 50px;
    color: gray;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#main6 h4{
    text-align: center;
    color: darkgray;
    font-size: 30px;

}
#main6 .p_about_us1{
    font-size: 20px;
    color: #744d25;
    text-align: center;
    width: 600px;
    
}
#main6 .about_us_imgs{
    display: flex;
    justify-content: space-evenly;
}
#main6 .about_us_imgs img{
    width: 600px;
    height: 500px;
}

#main6 .about_us_part2{
    width: 100%;
    margin-top: 100px;
    display: grid;
    align-items: center;
    justify-content: space-around;
}
#main6 h2{
    text-align: center;
    font-size: 50px;
    color: gray;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#main6 h4{
    text-align: center;
    color: darkgray;
    font-size: 30px;
}
#main6 .p_about_us2{
    padding: 15px;
    margin: 20px;
    text-align: center;
    font-size: 20px;
    color: black;
    width: 600px;
}











=======
>>>>>>> 0c1ea81f25fe393150ab82d0fdddafb4dd32effd
    
    border-radius: 40px;
    width: 400px;
    align-content: flex-end;
}


#main5 .hotdrinks_menu h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 25px;
}

#main5 .hotdrinks_menu p{
    margin: 10px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

/* Food Menu */

#main5 .bagels_menu{
    margin-top: 20px;
    background-color: burlywood;
    border: 1px solid black;
    border-radius: 40px;
    width: 400px;
    align-content: flex-end;
}

#main5 .bagels_menu h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 25px;
}

#main5 .bagels_menu p{
    margin: 10px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

#main5 .brunch_menu{
    margin-top: 20px;
    background-color: burlywood;
    border: 1px solid black;
    border-radius: 40px;
    width: 400px;
    align-content: flex-end;
}

#main5 .brunch_menu h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 25px;
}

#main5 .brunch_menu p{
    margin: 10px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

#main5 .sandwhiches_hamburger_menu{
    margin-top: 20px;
    background-color: burlywood;
    border: 1px solid black;
    border-radius: 40px;
    width: 400px;
    align-content: flex-end;

}

#main5 .sandwhiches_hamburger_menu h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 25px;
}

#main5 .sandwhiches_hamburger_menu p{
    margin: 10px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

#main5 .sandwhiches_hamburger_menu h4{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#main5 .sandwhiches_hamburger_menu .p_sides{
    font-size: 15px;
    text-align: start;
    margin: 10px;
}

#p_menu{
    color: #744d25;
    font-size: 25px;
    text-align: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;  
}

#main5 .cocktails_menu{
    margin-top: 20px;
    background-color: burlywood;
    border: 1px solid black;
    border-radius: 40px;
    width: 400px;
    align-content: flex-end;
}

#main5 .cocktails_menu h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 25px;
}

#main5 .cocktails_menu p{
    margin: 10px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

/* SLider of Menu  ----------------- */ 

#slideshow_all {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI light', Tahoma;
    width: 500px;
    margin:0 auto;
}

#slideshow_all img {
    max-width: 700px;
    height: 300px;
}

.button_slideshow{
    border-radius: 100%;
    border-style: inherit;
    width: 40px;
    height: 40px;
    font: 10pt;
}

.button_slideshow:hover{
    background-color: rebeccapurple;
}